p {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  position: relative;
  z-index: 999;
}

.thirdSpace {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background:#000 url(../../img/stars.png) repeat top center;
    z-index:0;
}

